// ion-header {
//     background-color: #0077b5;
//     /* LinkedIn Blue */
//     color: white;
// }
ion-item {
    margin: 10px 0;
}

ion-label h2 {
    font-size: 1.2em;
    font-weight: bold;
}

ion-note {
    font-size: 0.8em;
    color: grey;
}