<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Messages</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search messages"></ion-searchbar>

    <ion-segment value="focused">
        <ion-segment-button value="focused">
            Focused
        </ion-segment-button>
        <ion-segment-button value="unread">
            Unread
        </ion-segment-button>
        <ion-segment-button value="drafts">
            Drafts
        </ion-segment-button>
        <ion-segment-button value="others">
            Others
        </ion-segment-button>
    </ion-segment>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Manisha Verma</h2>
                <p>You: Dear Manisha, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://play-lh.googleusercontent.com/LeX880ebGwSM8Ai_zukSE83vLsyUEUePcPVsMJr2p8H3TUYwNg-2J_dVMdaVhfv1cHg=w240-h480-rw" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Maya Kumari</h2>
                <p>You: Dear Maya, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://play-lh.googleusercontent.com/LeX880ebGwSM8Ai_zukSE83vLsyUEUePcPVsMJr2p8H3TUYwNg-2J_dVMdaVhfv1cHg=w240-h480-rw" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Nikita Kumari</h2>
                <p>You: Dear Nikita, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/50dab922-5d48-4c6b-8725-7fd0755d9334/3a3f2d35-8167-4708-9ef0-bdaa980989f9.png" alt="Profile Picture 1">
            </ion-avatar>
            <ion-label>
                <h2>Ankit Kumar</h2>
                <p>You: Happy to connect with you</p>
            </ion-label>
            <ion-note slot="end">Sun</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Akhilesh Naidu</h2>
                <p>You: Dear Akhilesh Sir, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://static2.bigstockphoto.com/5/4/2/large1500/245318167.jpg" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Akash Bansal</h2>
                <p>You: Dear Akash Sir, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Amisha Singh</h2>
                <p>You: Dear Amisha, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://static2.bigstockphoto.com/5/4/2/large1500/245318167.jpg" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Priya Singh</h2>
                <p>You: Dear Priya, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Sawariya Suman</h2>
                <p>You: Dear Sawariya, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Hb5xzFZJCTW4cMqmPwsgfw-gILUV7QevvQ&s" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Amar Naidu</h2>
                <p>You: Dear Amar Sir, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Aman Naidu</h2>
                <p>You: Dear Aman Sir, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://images.unsplash.com/photo-1532074205216-d0e1f4b87368?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" alt="Profile Picture 2">
            </ion-avatar>
            <ion-label>
                <h2>Rohit Kumar</h2>
                <p>You: Dear Rohit Sir, First of all...</p>
            </ion-label>
            <ion-note slot="end">Sat</ion-note>
        </ion-item>

    </ion-list>
</ion-content>